.root {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #dedede;
  border-radius: 6px;
  overflow: hidden;
  @media (max-width: 767px) {
    padding: 10px;
  }
}

.tagsList {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    opacity: 0.5;
  }
}

.title {
  color: #000;
  font-size: 30px;
  margin: 0;
}

.text {
  font-size: 18px;
  line-height: 27px;
  a {
    color: #3766a9;
    @media (any-hover: hover) {
      &:hover {
        text-decoration: none;
      }
    }
  }
  img {
    max-width: 100%;
  }
}

.image {
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  border-radius: 6px;
  overflow: hidden;
  img {
    max-width: 100%;
    object-fit: contain;
    max-height: 500px;
  }
}

.editButtons {
  display: flex;
  gap: 10px;
}

.comments {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #dedede;
  border-radius: 6px;
  overflow: hidden;
  @media (max-width: 767px) {
    padding: 10px;
  }
}

.commentsList {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin: 0;
  padding: 0;
}
