.root {
  max-width: 400px;
  padding: 50px;
  border: 1px solid #dedede;
  margin: 50px auto;
  @media (max-width: 767px) {
    padding: 30px;
  }
}

.input {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.error {
  color: rgb(236, 34, 34);
  margin: 10px 0 0 0;
}
