$blue: #3766a9;

.root {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #dedede;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 15px;
  position: relative;
  transition: all 0.3s ease 0s;
  @media (any-hover: hover) {
    &:hover {
      border: 1px solid $blue;
      box-shadow: 0 0 0 1px $blue;
      .editButtons {
        opacity: 1;
        pointer-events: all;
      }
    }
  }
}

.editButtons {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  transition: all 0.3s ease 0s;
  @media (any-hover: hover) {
    opacity: 0;
    pointer-events: none;
  }
}

.tagsList {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    opacity: 0.5;
    a {
      text-decoration: none;
      color: #000;
      transition: all 0.3s ease 0s;
      @media (any-hover: hover) {
        &:hover {
          color: $blue;
        }
      }
    }
  }
}

.title {
  a {
    text-decoration: none;
    color: #000;
    font-size: 30px;
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: $blue;
      }
    }
  }
}

.text {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  white-space: nowrap;
}

.image {
  width: 100%;
  max-height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.button {
  margin: 20px 0;
  flex-grow: 0;
  align-self: start;
}

//skeleton

.skeleton {
  max-width: 750px;
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 15px;

  &Content {
    padding: 20px;
  }

  &Info {
    margin-left: 50px;
  }
}

.skeletonUser {
  display: flex;

  &Details {
    display: flex;
    flex-direction: column;
  }
}

.skeletonTags {
  display: flex;

  span {
    margin-right: 15px;
  }
}
