$blue: #4361ee;

.root {
  // max-width: 750px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #dedede;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 15px;
  position: relative;
  transition: all 0.3s ease 0s;
  &:hover {
    border: 1px solid $blue;
    box-shadow: 0 0 0 1px $blue;

    .editButtons {
      opacity: 1;
    }
  }
}

.editButtons {
  position: absolute;
  right: 15px;
  top: 15px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 10px;
  opacity: 0;
  transition: all 0.15s ease-in-out;
}

.tagsList {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0;
  padding: 0;
  list-style-type: none;
  li {
    opacity: 0.5;
  }
}

.title {
  a {
    text-decoration: none;
    color: #000;
    font-size: 30px;
    transition: all 0.3s ease 0s;
    @media (any-hover: hover) {
      &:hover {
        color: $blue;
      }
    }
  }
}

.image {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.button {
  align-self: start;
}

//skeleton

.skeleton {
  max-width: 750px;
  background-color: #fff;
  border: 1px solid #dedede;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 15px;

  &Content {
    padding: 20px;
  }

  &Info {
    margin-left: 50px;
  }
}

.skeletonUser {
  display: flex;

  &Details {
    display: flex;
    flex-direction: column;
  }
}

.skeletonTags {
  display: flex;

  span {
    margin-right: 15px;
  }
}
